
body
  margin: 0
  padding: 0
  width: 100%

  .inicial
    width: 100%
    height: 100vh
    background: rgb(105, 155, 200)

  #map-example-container{
    height: 300px;
    position: relative
    top: 30%
    transform: translateY(-30%)
    }

  .input-busca
    height: 80px

  .algolia-places
    width: 80% !important
    display: block !important
    margin: 0 auto
    position: relative
    top: 10%
    transform: translateY(-10%)
